.flex-box-container-1{
    display: flex;
    border: 1px solid black; 
} 

.flex-box-container-1{
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.container-1{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}