
.container-5 {
    border: 1px solid black;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background-image: url('green.jpg');
    color: white;
}

.flex-blackjack-row-1 img {
    width:25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px; 
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

table,th, td {
    padding: 5px;
    border: 1px solid black;
}
